*{
    background-color: #0D1224;
}



/* Nav Bar */
@media (min-width:550px) {
    .margin-sm-left{
        margin-left: 40px;
    }
}

@media (min-width:551px) and (max-width:1600px) {
    .margin-lg-left{
        margin-left: 200px;
    }
}
.margin-right{
    margin-right: 190px;
}

.fontFamily{
    font-family: 'BenSen Handwriting', cursive;
    font-size: 20px;
}

.fontFamily-2{
    font-family: 'Apona Lohit', sans-serif;
    font-size: 14px;
}

main{
    padding-top: 90px;
}

/* Main Body */
@media (min-width:550px) {
    .font-sm{
        font-size: 10px;
    }
}

html,
body{
	overflow-x:hidden;
	margin:0;
	scroll-behavior:smooth;
    background-color: #0D1224;
	
}

@media (min-width:551px) and (max-width:1600px) {
    .font-lg{
        font-size: 30px;
    }
}

.Middle{
    margin-top: 80px;
}

.Padding{
    padding-top: 100px;
}

.HovarShodo:hover{
    box-shadow: 0 8px 16px rgba(237, 15, 15, 0.2);
    transform: scale(1.05); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.designation{
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 50px;
}
.lineHeight{
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.ButtonHovar:hover{
    box-shadow: 0 8px 16px rgba(50, 8, 188, 0.2);
    transform: scale(1.05); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    filter: brightness(0.8);
}


.FontSize{
    font-size: 12px;
    line-height: 0px;
    padding-left: 10px;
}

.empty{
    padding-top: 650px;
}

.Footer{
    height: 100px;
    background-color: #11152C;
    border: 1px solid;
    text-align: center;
}